/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Common */

body {
font-family: Arial, Helvetica, sans-serif;
background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
width: 100vw;
}

header {
font-family: 'Oswald', sans-serif;  
color: #000000;
padding: 20px;
margin: 10px;
border-radius: 10px;
}

h1 {
  position: absolute;
  font-weight: 500;
  letter-spacing: -1px;
  font-stretch: 100%;
  font-size: 20px;
}

.side-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.side-header1{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #2b588093;
}

.side-header1:hover {
  color: #2b5880;
  background-color: #ffffff93;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.560);
}

.home-side-header{
  position: absolute;
  right: 10px;
}

.home-side-header1{
  font-family: 'Montserrat', sans-serif;
  color: #174c53;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #cae0df;
}

.home-side-header1:hover {
  color: #ffffff;
  background-color: #6e92a35e;
  box-shadow: 0 0 10px rgba(91, 158, 167, 0.455);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: -3%; 
}

.chat-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 15%;
  margin-bottom: 20%;
  color: #000000;        
}

h2 {
  font-size: 50px;
  font-family: "Libre Bodoni", serif;
}

.chat-subheader {
  color: #000000ab;        
}

h5{
  font-family:'Alegreya sans', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.heading h2{
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden; /* Hides the text until revealed */
  width: 0; 
  animation: typing 2s steps(30, end) forwards, fadeIn 0.5s forwards; /* Typing and fade-in effects */
}

@keyframes typing {
  from {
      width: 0; /* Start with no width */   
  }
  to {
      width: 100%; /* Expand to full width */   
  }
}

.heading h5{
  color: #ffffffd0;
  opacity: 0; /* Start hidden */
  animation: fadeIn 0.8s forwards; /* Animation for h5 */
  animation-delay: 2s; /* Delay to show after h2 */
}

@keyframes fadeIn {
  from {
      opacity: 0; /* Start fully transparent */
  }
  to {
      opacity: 1; /* End fully visible */
  }
}

.home{
  display: flex;
  flex-direction: column;
}

.home-header{
  display: flex;
  margin-top: 30px;
  padding: 80px;
  flex-direction: column;
  align-items: center; 
}

h4 {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  color: #ffffff;
  font-size: 35px;
  transition: color 0.3s ease;
}

h3 {
  color: #000000;   
  font-weight:400;
  font-size: 15px;
}

.home-header h3{
  width: 400px;
  margin-bottom: 20px;
}

.home-header img{
  width: 400px;
  height: 250px;
  border-radius: 10px;
  margin: 50px;
  transition:transform 0.3s ease;
}

.home-header img:hover{
  transform: scale(1.125);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.658);
}

.link{
  color: rgb(255, 255, 255);
  text-decoration:none;
}

.link:hover{
  text-decoration: underline;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 100%;
}

.chat-output-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 55%;
  height: 700px;
  overflow-y: auto;
  margin-bottom: 2%;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.chat-output {
  padding: 25px;
  width: 100%;
  display: flex; 
  flex-direction: column; 
  gap: 10px;
}

.question {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  text-align: left;
  width: 100%; 
  padding-bottom: 35px;
  border-bottom: 1px solid #0000009f;
  border-bottom-style: dashed;
  margin-bottom: 20px; 
}

.question h3{
  font-weight: 600;
}

.question-image {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;    
}

.answer {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  text-align: left;
  width: 100%;  
  padding-top: 10px;
}

.chat-input-container {
  position: absolute;
  bottom: 4%;
  display: flex;
  justify-content: space-between;
  width: 60%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.697);
  transition: box-shadow 0.4s ease-in-out;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 4px;
}

.chat-input-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.235);
}

.image-preview {
  padding: 5px;
  display: flex;
}

.preview-image {
  max-width: 100%;
  max-height: 60px; /* Adjust this as needed */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(6, 57, 83, 0.801);
}

.chat-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
}

.chat-actions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 10px;
  justify-content: flex-start;
}

.image-upload-button {
  width: 40px; 
  height: 40px;
  padding: 10px; 
  border: 1px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.image-upload-button svg {
  width: 17px;
  height: 17px;
}

.image-upload-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.560);
}

.chat-button {
  width: 40px; 
  height: 40px;
  padding: 1px; 
  border: 1px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  margin-right: 5px;
}

.chat-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.560);
}

h6{
  position: absolute;
  bottom: 1%;
  font-size: 13px;
  font-weight: 100;
  color: #ffffffaf;
}


/* Tooltip */


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #ffffff;
  border: #9b9999a5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: #000000be;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0; 
  transition: opacity 0.5s; 
  transition-delay: 1ms;
  font-size: 12px; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; 
  transition-delay: 0.9s; 
}

.chat-button-tooltip .tooltiptext {
  width: 100px; 
  margin-left: -50px;
}

.image-upload-tooltip .tooltiptext {
  width: 120px; 
  margin-left: -60px;
}


/* Scrollbar */

.chat-output-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


/* Focus */

.chat-input:focus {
  background-color: #fff;
  border: none;
}