<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>imagechatbot.ai</title>
  </head>
  <body>

    <header>
      <h1>IMAGE CHATBOT</h1>
      <div class="side-header">
        <a href="/newchat"><button class="side-header1">New Chat</button></a>
        <a href="/imagedescription"><button class="side-header1">Image Description</button></a>
        <a href="/"><button class="side-header1">Home</button></a>
      </div>
    </header>
     
    <main>
      <div class="chat-header">
        <h2>Chat with me !</h2>
        <div class="chat-subheader">
          <h2>Your Friendly Chat Companion for Any Conversation....</h2>
        </div>
      </div>

      <div class="chat-container"> 
                
        <div class="chat-input-container">
          <div id="image-preview" class="image-preview"></div>
          <div class="chat-input">
            <form id="myForm" action="/chat" method="post" enctype="multipart/form-data">
              
              <input type="text" name="question" class="chat-input"  autofocus  placeholder="Type a message..." >
              
            </form>
          </div>
          <div class="chat-actions">
            
            <button form="myForm" class="chat-button tooltip chat-button-tooltip" type="submit">
              <span aria-hidden="true">➤</span>
              <span class="tooltiptext">Send message</span>
            </button>
          </div>
        </div> 
       
        <h6>akhilpmohan &copy; </h6>  
      </div>
    </main>
    <script src="../static/js/script.js"></script>
  
  </body>
</html>