<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>imagechatbot.ai</title>
  </head>
  <body style="background: radial-gradient(circle,#9be4f1ea, #164d66); height: 100%;">
  <!--
  <body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2pQZ413cH9XDvM5WZi0DedOZus5bPFB5ryw&s'); background-size: cover;">
    -->
    <header>
      <h1>IMAGE CHATBOT</h1>
      
    </header>
     
    <main>

    <div class="heading">
        <h2>Welcome to Image Chatbot!</h2>
        <h5>Your Creative Companion for Visual Conversations...</h5>
    </div>

    <div class="home">
        <div class="home-header">
        <img src="../static/images/Firefly photo related to a chatbot theme 81860.jpg" alt="chatbot image">  
        <h3>Chatbot</h3>
        <h4>With advanced AI technology, chatbots can engage users in natural, human-like conversations, providing instant support and personalized responses. They enhance customer experiences by efficiently answering queries, guiding users through processes, and offering tailored recommendations.</h4>
        <a href="/newchat" style="color: rgb(255, 255, 255); text-decoration:none;">Engage with a Chatbot!</a>
        </div>
        <div class="home-header">
        <img src="../static/images/freepik__a-large-metalliclooking-ufo-hovering-over-a-snowy-__53144.png" alt="chatbot image">  
        <h3>Image description</h3>
        <h4>Utilizing cutting-edge AI and computer vision, the image description chatbot automatically generates detailed and accurate descriptions of images. It helps visually impaired users by providing context, identifying objects, and conveying emotions within images, enhancing accessibility and understanding.</h4>
        <a href="/imagedescription" style="color: rgb(255, 255, 255); text-decoration:none;">Discover with Image Description!</a>
        </div>
    </div>
  
      </div>
    </main>
    
  
  </body>
</html>
